@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, html, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #18181b;
  font-family: 'Roboto', sans-serif;
}

.container {
  /* background-color: #0e0e10; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.row {
  width: 100%;
}

h1 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
}

iframe {
  height: 600px;
}

.clip-section {
  margin-top: 2.5rem;
}

.header-text {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.clip-box {
  color: #0e0e10;
  animation: ease-in slideIn 500ms;
}

.clip-box img {
  width: 100%;
}

.title {
  font-size: 14px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.clips {
  margin-top: 1rem;
}

.clip-hover {
  opacity: 0;
  position: absolute;
  height: 100%;
  bottom: 4px;
  width: 100%;
  transition: ease-in 100ms;
  display: flex;
  align-items: flex-end;
}

.clip-hover button {
  background: #18181bb0 ;
  color: #fff;
  border: none;
  flex: 1;
  padding: 5px;
}

.clip-hover button:hover {
  cursor: pointer;
}

.clip-hover:hover {
  opacity: 1;
  cursor: pointer;
}

.clip-img {
  position: relative;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

p {
  color: #fff;
}

.clip-player {
  height: 100%!important;
  width: 100%!important;
}