@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0c0c0e;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent;
}
::-webkit-scrollbar-thumb {
  width: 0; 
  background: transparent;
}

.container {
  display: flex;
  padding: 3rem 5rem;
  height: 100%;
}

.row {
  width: 100%;
}

iframe {
  height: 600px;
}

.clip-section {
  margin-top: 2.5rem;
}

.header-text {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.clip-box {
  color: #0e0e10;
  width: 100%;
  margin-bottom: 1.5rem;
  animation: ease-in slideIn 500ms;
}

.clip-box img {
  width: 100%;
  border-radius: 7px;
  
}

.clip-img {
  width: 100%;
  position: relative;
}
.title {
  font-size: 13px;
  color: #b8b8b8;
  padding: 0;
  margin: 0;
  margin-top: 0.3rem;
  font-weight: 500;
}


.clip-hover {
  opacity: 0;
  position: absolute;
  height: 100%;
  bottom: 4px;
  width: 100%;
  transition: ease-in 100ms;
  display: flex;
  align-items: flex-end;
}

.clip-hover button {
  background: #18181bb0 ;
  color: #fff;
  border: none;
  flex: 1;
  padding: 5px;
}

.clip-hover button:hover {
  cursor: pointer;
}

.clip-hover:hover {
  opacity: 1;
  cursor: pointer;
}

p {
  color: #fff;
}




.main {
  flex: auto;
  display: flex;
  padding-top: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 0 10rem;

  .clip-player {
    width: 100%!important;
    height: auto!important;
  }

  .clip-info {
    width: 100%;
  }

  .clip-title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
}

.right-block {
  display: flex;
  flex-direction: column;
  // flex-direction: column;
  flex-basis: 200px;

  .btn {
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 1rem;
    background-color: #22fe00fa;
    transition: .4s;

    &:hover {
      cursor: pointer;
    }
  }

  .red {
    background-color: #fe0035fa;
  }

  .autoplay {
    display: flex;
    min-height: 40px;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    background-color: #15161a;

    p {
      padding: 0;
      margin: 0;
      font-size: 14px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 75px;
      height: 25px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #212226;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 7px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 25px;
      left: 2px;
      bottom: 0px;
      background-color: white;
      border-radius: 7px;
      transition: .4s;
    }


    input:focus + .slider:before {
      box-shadow: 0 0 1px #2196F3;
    }


    input:checked + .slider:before {
      background-color: #2196F3;
      box-shadow: 0px 0px 7px 1px #2196f3;
      -webkit-transform: translateX(47px);
      -ms-transform: translateX(47px);
      transform: translateX(47px);
    }
  }

  .queued {
    color: #2196F3;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    margin-top: 1rem;
  }

  .clips-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
    overflow: scroll;
  }
}










.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  label {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  input {
    padding: 15px;
    background-color: #2c2c33;
    border: none;
    color: #ffff;
    font-size: 14px;
    font-weight: normal;
    width: 250px;
  }

  button {
    padding: 15px 30px;
    background-color: #2c2c33;
    border: none;
    color: #ffff;
    font-size: 14px;
    font-weight: normal;
    margin-top: 1rem;
    width: 250px;
    
    &:hover {
      cursor: pointer;
    }

  }
}


.error {
  color: #da4d4d;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  font-weight: normal;
  font-size: 14px;
}


@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}